<section>
  <%= form_for @project do |project_form| %>

        <% errors = @project.errors.full_messages
           unless errors.empty? %>
            <% errors.each do |error| %>
              <p><%= error %></p>
          <% end %>
      <% end %>

      <p>
        <%= project_form.label :title %><br/>
        <%= project_form.text_field :title %>
      </p>

      <p>
        <%= project_form.label :description %><br/>
        <%= project_form.text_area :description %>
      </p>

      <p>
        <%= project_form.label :goal %><br/>
        <%= project_form.text_field :goal %>
      </p>

      <p>
        <%= project_form.label :deadline %><br/>
        <%= project_form.date_select :deadline %>
      </p>
      <p>
        <%= project_form.submit %>
      </p>

  <% end %>
</section>
